---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <main>
        <section id="hero">
            <h1>Welcome to the App Fair!</h1>
        </section>
    </main>
</div>
